@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');
/* Add a black background color to the top navigation */
main {
  background-color: #f2f2f2;
  font-family: 'Lato' sans-serif;
}
.white { 
  color: #fbfbfb;
  font-weight: bold;
}

.img-center { 
  align-items: center;
}

  @media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }
  .italic { 
    font-style: italic;
  }
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    color: #0d406b;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

.center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
.icons { 
    display: inline-block;
    align-items: center;
}
.wrapper{
    display:flex;
    flex-direction: row;
    width: 400vw;
}
.slide{
    width: 100vw;
}
h1, h2 {
    color: #0d406b;
}

#title{
    font-size: 35px;
    font-style: normal;
    text-align: center;
    
}
#fti-title{
    font-size: 20pt;
    color: #0d406b;
    font-weight: 400;
}
#viz1657779728760{
    max-height: 400px;
    max-width: 400px;
    float: left;
}

.ex{
    float:right;
}
.title-profile {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    color: #000000;
    font-weight: 700;
}
